body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 64px;
}

#main {
  width: 626px;
  margin: 0 auto 32px;
}

#main img {
  margin-bottom: 32px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  color: #3F3D56;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 16px;
}

h1 span {
  color: #EE24FF;
  font-weight: bold;
}

p {
  color: #828282;
  font-size: 15px;
  line-height: 20.43px;
}

strong, a {
  color: #3F3D56;
}

#footer {
  font-weight: bold;
  font-size: 15px;
  line-height: 22.15px;
}

a {
  text-decoration: none;
}

#footer a + a {
  margin-left: 42px;
}

#line {
  width: 391px;
  height: 0px;
  border: 1px solid #ECEFF2;
  margin: 64px auto 16px;
}

#wave {
  margin-top: 40.83px;
}
